

@font-face {
  font-family: 'Manrope-400';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Manrope400'), url('../fonts/Manrope-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Manrope-500';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Manrope500'), url('../fonts/Manrope-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Manrope-600';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Manrope600'), url('../fonts/Manrope-SemiBold.ttf') format('truetype');
}